@model User


<div class="text-center">
    <h1>Welcome @Model.userFname In Our Library</h1>
    <h2>Let me tell you about our Library</h2>
    <p>
        This Project was Done by Laeth Nueirat and Khalid Nidal for the Web Programming Course on Arab American University,
        The Project Stands with ASP.NET MVC 6, on Microsoft sqlserver database.

        In future, we are looking to improve the project and build it with ReactJS for the Views, and embed it with This MVC Project.

        You can Navigate to the other pages via the Navigation bar.

        Thanks for your Time, Have Fun!
    </p>
</div>
